.blogPostDiv {
  margin: 0 auto;
  max-width: 960;
  padding: 0 2rem 1.45rem;
}

.ulCategories {
  list-style: none;
  display: inline-flex;
  color: #7e7c7c;
}

.blogDate {
  font-weight: bold;
  color: #7e7c7c;
  font-family: 'Gudea';
}

.readTime {
  font-weight: bold;
  color: #7e7c7c;
  font-size: 0.8rem;
  font-family: 'Gudea';
}

.category {
  font-family: 'Gudea';
}

.blogText {
  font-family: 'Quicksand', sans-serif;
}

blockquote {
  border-left: 3px solid #7e7c7c;
  margin: 0 0rem 1.45rem !important;
  padding-left: 1rem !important;
}

@media (min-width: 1000px) {
  .blogPostDiv {
    margin: 0 auto;
    max-width: 960;
    padding: 0 6rem 1.45rem;
  }

  blockquote {
    padding-left: 1.45rem;
  }

  .imgStyle {
    width: 55%;
    margin-right: auto;
    margin-left: auto;
  }
}
