.header {
  background-color: #37c9ff;
  height: 15%;
}

.headerContainer {
  padding: 0 1em 0 1em;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.siteTitle {
  color: #0a28ff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-family: 'Agency FB', 'Sriracha';
  letter-spacing: 0.05em;
  font-size: 1.2em;
}

.navbarTogglerLine {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #ffffff;
}

.dropDownItem {
  color: #ffffff;
}

.active {
  color: rgb(0, 245, 212);
}

.dropDownItem:hover {
  color: rgb(0, 245, 212);
  text-decoration: none;
}

.linkContainer {
  background-color: #37c9ff;
  display: grid;
  height: 95vh;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Quattrocento Sans', sans-serif;
  letter-spacing: 0.15em;
  padding: 1em 0em 3.5em 0em;
}

@media (min-width: 750px) {
  .siteTitle {
    padding-left: 2.5em;
  }
}

@media (min-width: 1000px) {
  .siteTitle {
    font-size: 1.15em;
    padding-left: unset;
  }
  .linkContainer {
    display: inline-flex !important;
    height: 5vh;
    padding: 2em 0em 2em 0em;
    justify-content: space-evenly;
  }
  .dropDownItem {
    padding: 0.25rem 0.5rem;
    font-size: 0.8em;
  }
}
