.backgroundImages {
  height: 25vh;
  width: 100%;
  background-position: unset !important;
  background-attachment: fixed;
  z-index: -100;
  background-size: contain;
}

.hobbyHeaders {
  font-family: 'Gadugi';
  letter-spacing: 0.05em;
}
